.menu_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    height: 60px;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}
.menu_containerAbout{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 60px;
    align-items: center;
    width: 90%;
    
    margin: 0 auto;
}
.list_option {
    display: flex;
    list-style: none;
    gap: 10px;
}
.list_option li a{
    text-decoration: none;
    color: black;
}

.menu_containerAbout button{
    background-color: transparent;
    border: none;
}

.menu_containerAbout p, .menu_container p{
    font-size: 24px;
    font-weight: bold;
}

@media screen and (min-width : 540px){
    .menu_containerAbout{
        width: 70%;
    }

    .menu_container{
        width: 70%;
    }

    .list_option {
        
        gap: 20px;
    }
}

@media screen and (min-width: 820px) {
    .menu_containerAbout{
        width: 90%;
    }
    .menu_container{
        width: 90%;
    }
    .list_option {
        
        gap: 32px;
    }
    
}
