/* Dispositivos moviles */
.container{
    width: 100%;
    margin: 0 auto;
    margin-top: 60px; 
}
.home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15px;
}

.center_section{
    width: 90%;
    margin: 0 auto;
}

.left_section, .rigth_section{
    display: none;
}

@media screen and (min-width : 540px){
    .center_section{
        width: 80%;
    }
}

@media screen and (min-width : 820px){
    .container{
        width: 100%;
    }

    .home{
        width: 95%;
    }
    
    .center_section{
        width:65%;
    }
    
    .rigth_section{
        display: block;
        width: 30%;
    }
}

@media screen and (min-width : 1024px){
    
    .container{
        width: 100%;
    }

    .home{
        width: 90%;
    }
    
    
    .left_section{
        display: block;
        width: 25%;
    }
    
    .center_section{
        width:45%;
    }
    
    .rigth_section{
        display: block;
        width: 25%;
    }
}

@media screen and (min-width : 1280px){

    .container{
        width: 100%;
    }

    .home{
        width: 80%;
    }
}


