.create_post{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.container_img{
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

img{
    width: 100%;
    height: auto;
    border-radius: 50%; 
}

.container_form{
    width: calc(100% - 45px);
}

.form{
    width: 100%;
}

.form label{
    display: flex;
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    background-color: #f1f1f1;
    border: 1px solid #e7e7e7;
}

.input_text{
    width: 80%;
    padding: 0px 10px;
    background-color: #f1f1f1;
    border: none;
}

.input_text:focus{
    outline: none;
}

.button{
    width: 20%;
    border-radius: 20px;
    padding: 4px;
    background-color: #dd4633;
    color: #ffffff;
    border: none;
}

.button:hover{
    background-color: #666666;
}
